#!/usr/bin/make -f

post-patches::
	ln -sf /usr/share/gtk-doc/data/gtk-doc.make .

include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# List any files which are not installed
include /usr/share/cdbs/1/rules/utils.mk
common-binary-post-install-arch:: list-missing

DEB_DBG_PACKAGE_libnice10 := libnice-dbg
DEB_DBG_PACKAGE_gstreamer1.0-nice := libnice-dbg
DEB_DBG_PACKAGE_gstreamer0.10-nice := libnice-dbg

DEB_CONFIGURE_EXTRA_FLAGS := --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
	--enable-compile-warnings=yes \
	--enable-gupnp \
	--with-gstreamer \
	--enable-introspection \
	--enable-gtk-doc \
	$(NULL)

include $(CURDIR)/debian/update-patches.mk
